In [2]:
import pandas as pd
import numpy as np

banks = pd.read_csv('./data/banklist.csv')
banks

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb",26-May-17,1-Jun-17
1,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,5-May-17,1-Jun-17
2,First NBC Bank,New Orleans,LA,58302,Whitney Bank,28-Apr-17,23-May-17
3,Proficio Bank,Cottonwood Heights,UT,35495,Cache Valley Bank,3-Mar-17,18-May-17
4,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,27-Jan-17,18-May-17
5,Harvest Community Bank,Pennsville,NJ,34951,First-Citizens Bank & Trust Company,13-Jan-17,18-May-17
6,Allied Bank,Mulberry,AR,91,Today's Bank,23-Sep-16,17-Nov-16
7,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,19-Aug-16,1-Jun-17
8,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,6-May-16,6-Sep-16
9,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,29-Apr-16,6-Sep-16
10,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,11-Mar-16,13-Mar-17
11,Hometown National Bank,Longview,WA,35156,Twin City Bank,2-Oct-15,13-Apr-16
12,The Bank of Georgia,Peachtree City,GA,35259,Fidelity Bank,2-Oct-15,24-Oct-16
13,Premier Bank,Denver,CO,34112,"United Fidelity Bank, fsb",10-Jul-15,17-Aug-16
14,Edgebrook Bank,Chicago,IL,57772,Republic Bank of Chicago,8-May-15,12-Jul-16
15,Doral Bank,San Juan,PR,32102,Banco Popular de Puerto Rico,27-Feb-15,13-May-15
16,Capitol City Bank & Trust Company,Atlanta,GA,33938,First-Citizens Bank & Trust Company,13-Feb-15,21-Apr-15
17,Highland Community Bank,Chicago,IL,20290,"United Fidelity Bank, fsb",23-Jan-15,21-Apr-15
18,First National Bank of Crestview,Crestview,FL,17557,First NBC Bank,16-Jan-15,8-May-17
19,Northern Star Bank,Mankato,MN,34983,BankVista,19-Dec-14,6-Jan-16
20,"Frontier Bank, FSB D/B/A El Paseo Bank",Palm Desert,CA,34738,"Bank of Southern California, N.A.",7-Nov-14,10-Nov-16
21,The National Republic Bank of Chicago,Chicago,IL,916,State Bank of Texas,24-Oct-14,6-Jan-16
22,NBRS Financial,Rising Sun,MD,4862,Howard Bank,17-Oct-14,26-Mar-15
23,"GreenChoice Bank, fsb",Chicago,IL,28462,"Providence Bank, LLC",25-Jul-14,12-Dec-16
24,Eastside Commercial Bank,Conyers,GA,58125,Community & Southern Bank,18-Jul-14,11-Jul-16
25,The Freedom State Bank,Freedom,OK,12483,Alva State Bank & Trust Company,27-Jun-14,25-Mar-16
26,Valley Bank,Fort Lauderdale,FL,21793,"Landmark Bank, National Association",20-Jun-14,29-Jun-15
27,Valley Bank,Moline,IL,10450,Great Southern Bank,20-Jun-14,26-Jun-15
28,Slavie Federal Savings Bank,Bel Air,MD,32368,"Bay Bank, FSB",30-May-14,12-Dec-16
29,Columbia Savings Bank,Cincinnati,OH,32284,"United Fidelity Bank, fsb",23-May-14,10-Nov-16
...,...,...,...,...,...,...,...
521,IndyMac Bank,Pasadena,CA,29730,"OneWest Bank, FSB",11-Jul-08,22-Apr-15
522,"First Integrity Bank, NA",Staples,MN,12736,First International Bank and Trust,30-May-08,20-Oct-16
523,"ANB Financial, NA",Bentonville,AR,33901,Pulaski Bank and Trust Company,9-May-08,28-Aug-12
524,Hume Bank,Hume,MO,1971,Security Bank,7-Mar-08,28-Aug-12
525,Douglass National Bank,Kansas City,MO,24660,Liberty Bank and Trust Company,25-Jan-08,26-Oct-12
526,Miami Valley Bank,Lakeview,OH,16848,The Citizens Banking Company,4-Oct-07,12-Sep-16
527,NetBank,Alpharetta,GA,32575,ING DIRECT,28-Sep-07,28-Aug-12
528,Metropolitan Savings Bank,Pittsburgh,PA,35353,Allegheny Valley Bank of Pittsburgh,2-Feb-07,27-Oct-10
529,Bank of Ephraim,Ephraim,UT,1249,Far West Bank,25-Jun-04,9-Apr-08
530,Reliance Bank,White Plains,NY,26778,Union State Bank,19-Mar-04,9-Apr-08
531,Guaranty National Bank of Tallahassee,Tallahassee,FL,26838,Hancock Bank of Florida,12-Mar-04,5-Jun-12
532,Dollar Savings Bank,Newark,NJ,31330,No Acquirer,14-Feb-04,9-Apr-08
533,Pulaski Savings Bank,Philadelphia,PA,27203,Earthstar Bank,14-Nov-03,22-Jul-05
534,First National Bank of Blanchardville,Blanchardville,WI,11639,The Park Bank,9-May-03,5-Jun-12
535,Southern Pacific Bank,Torrance,CA,27094,Beal Bank,7-Feb-03,20-Oct-08
536,Farmers Bank of Cheneyville,Cheneyville,LA,16445,Sabine State Bank & Trust,17-Dec-02,20-Oct-04
537,Bank of Alamo,Alamo,TN,9961,No Acquirer,8-Nov-02,18-Mar-05
538,AmTrade International Bank,Atlanta,GA,33784,No Acquirer,30-Sep-02,11-Sep-06
539,Connecticut Bank of Commerce,Stamford,CT,19183,Hudson United Bank,26-Jun-02,14-Feb-12
540,New Century Bank,Shelby Township,MI,34979,No Acquirer,28-Mar-02,18-Mar-05
541,Net 1st National Bank,Boca Raton,FL,26652,Bank Leumi USA,1-Mar-02,9-Apr-08
542,"NextBank, NA",Phoenix,AZ,22314,No Acquirer,7-Feb-02,5-Feb-15
543,Oakwood Deposit Bank Co.,Oakwood,OH,8966,The State Bank & Trust Company,1-Feb-02,25-Oct-12
544,Bank of Sierra Blanca,Sierra Blanca,TX,22002,The Security State Bank of Pecos,18-Jan-02,6-Nov-03
545,"Hamilton Bank, NA",Miami,FL,24382,Israel Discount Bank of New York,11-Jan-02,21-Sep-15
546,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB",27-Jul-01,19-Aug-14
547,Malta National Bank,Malta,OH,6629,North Valley Bank,3-May-01,18-Nov-02
548,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,2-Feb-01,18-Feb-03
549,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,14-Dec-00,17-Mar-05
550,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,13-Oct-00,17-Mar-05

In [193]:
banks.columns

Index(['Bank Name', 'City', 'ST', 'CERT', 'Acquiring Institution',
       'Closing Date', 'Updated Date'],
      dtype='object')

In [194]:
banks['ST'].count()

551

In [195]:
list(banks['ST'].unique())

['IL',
 'WI',
 'LA',
 'UT',
 'NJ',
 'AR',
 'GA',
 'PA',
 'TN',
 'WA',
 'CO',
 'PR',
 'FL',
 'MN',
 'CA',
 'MD',
 'OK',
 'OH',
 'SC',
 'VA',
 'ID',
 'TX',
 'CT',
 'AZ',
 'NV',
 'NC',
 'KY',
 'MO',
 'KS',
 'AL',
 'MI',
 'IN',
 'IA',
 'NE',
 'MS',
 'NM',
 'OR',
 'NY',
 'MA',
 'SD',
 'WY',
 'WV',
 'NH',
 'HI']

In [196]:
#banks.loc[banks['ST'].value_counts().head()]
#grouped = banks.groupby(['ST'])
#banks2 = banks.apply(lambda x:x)
#banks2.head()


banks['ST'].value_counts().head()

GA    93
FL    75
IL    67
CA    41
MN    23
Name: ST, dtype: int64

In [3]:
banks['Acquiring Institution'].value_counts().head()

No Acquirer                            31
State Bank and Trust Company           12
First-Citizens Bank & Trust Company    11
Ameris Bank                            10
U.S. Bank N.A.                          9
Name: Acquiring Institution, dtype: int64

In [5]:
banks[(banks['Acquiring Institution']=='State Bank of Texas') & (banks['ST']=='TX')]

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
450,Millennium State Bank of Texas,Dallas,TX,57667,State Bank of Texas,2-Jul-09,26-Oct-12

In [214]:
#banks.where(banks['Acquiring Institution']=='State Bank of Texas').dropna().groupby('Acquiring Institution')
#banks['acquired'] = banks['Acquiring Institution'].apply(lambda x : 1 if x =='State Bank of Texas' else 0)

banks2 = banks[(banks['Acquiring Institution']=='State Bank of Texas')]
banks2

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
4,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,27-Jan-17,18-May-17
21,The National Republic Bank of Chicago,Chicago,IL,916,State Bank of Texas,24-Oct-14,6-Jan-16
450,Millennium State Bank of Texas,Dallas,TX,57667,State Bank of Texas,2-Jul-09,26-Oct-12

In [216]:
banks2[(banks2['ST']=='TX')]

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
450,Millennium State Bank of Texas,Dallas,TX,57667,State Bank of Texas,2-Jul-09,26-Oct-12

In [261]:
banks3 = banks[(banks['ST']=='CA')]
banks3['City'].value_counts().index[0]

'Los Angeles'

In [267]:
banks[~(banks['Bank Name'].str.contains('Bank'))]

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
22,NBRS Financial,Rising Sun,MD,4862,Howard Bank,17-Oct-14,26-Mar-15
74,Second Federal Savings and Loan Association of...,Chicago,IL,27986,Hinsdale Bank & Trust Company,20-Jul-12,14-Jan-13
101,Home Savings of America,Little Falls,MN,29178,No Acquirer,24-Feb-12,17-Dec-12
222,"First Arizona Savings, A FSB",Scottsdale,AZ,32582,No Acquirer,22-Oct-10,20-Aug-12
248,Imperial Savings and Loan Association,Martinsville,VA,31623,"River Community Bank, N.A.",20-Aug-10,24-Aug-12
300,CF Bancorp,Port Huron,MI,30005,First Michigan Bank,30-Apr-10,13-Apr-16
301,Westernbank Puerto Rico,Mayaguez,PR,31027,Banco Popular de Puerto Rico,30-Apr-10,21-Mar-14
303,Eurobank,San Juan,PR,27150,Oriental Bank and Trust,30-Apr-10,21-Mar-14
423,ebank,Atlanta,GA,34682,"Stearns Bank, N.A.",21-Aug-09,21-Aug-12
428,Dwelling House Savings and Loan Association,Pittsburgh,PA,31559,"PNC Bank, N.A.",14-Aug-09,15-Jan-13
496,Suburban FSB,Crofton,MD,30763,Bank of Essex,30-Jan-09,4-Feb-16
505,Downey Savings & Loan,Newport Beach,CA,30968,"U.S. Bank, N.A.",21-Nov-08,4-Jan-13
514,Ameribank,Northfork,WV,6782,"The Citizens Savings Bank, Pioneer Community B...",19-Sep-08,21-Sep-15
523,"ANB Financial, NA",Bentonville,AR,33901,Pulaski Bank and Trust Company,9-May-08,28-Aug-12

In [292]:
banks['Bank Name'] = banks['Bank Name'].str.upper() 
banks[(banks['Bank Name'].str.startswith('S'))]

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
4,SEAWAY BANK AND TRUST COMPANY,Chicago,IL,19328,State Bank of Texas,27-Jan-17,18-May-17
28,SLAVIE FEDERAL SAVINGS BANK,Bel Air,MD,32368,"Bay Bank, FSB",30-May-14,12-Dec-16
34,SYRINGA BANK,Boise,ID,34296,Sunwest Bank,31-Jan-14,12-Apr-16
41,SUNRISE BANK OF ARIZONA,Phoenix,AZ,34707,"First Fidelity Bank, National Association",23-Aug-13,3-May-17
49,SUNRISE BANK,Valdosta,GA,58185,Synovus Bank,10-May-13,26-Jun-14
74,SECOND FEDERAL SAVINGS AND LOAN ASSOCIATION OF...,Chicago,IL,27986,Hinsdale Bank & Trust Company,20-Jul-12,14-Jan-13
82,SECURITY EXCHANGE BANK,Marietta,GA,35299,Fidelity Bank,15-Jun-12,21-Mar-14
89,"SECURITY BANK, NATIONAL ASSOCIATION",North Lauderdale,FL,23156,Banesco USA,4-May-12,12-Apr-16
103,SCB BANK,Shelbyville,IN,29761,"First Merchants Bank, National Association",10-Feb-12,19-Feb-15
117,SUNFIRST BANK,Saint George,UT,57087,Cache Valley Bank,4-Nov-11,16-Nov-12
128,SUN SECURITY BANK,Ellington,MO,20115,Great Southern Bank,7-Oct-11,8-May-17
148,SOUTHSHORE COMMUNITY BANK,Apollo Beach,FL,58056,American Momentum Bank,22-Jul-11,5-Feb-15
149,SUMMIT BANK,Prescott,AZ,57442,The Foothills Bank,15-Jul-11,19-Aug-14
153,SIGNATURE BANK,Windsor,CO,57835,Points West Community Bank,8-Jul-11,26-Oct-12
161,SUMMIT BANK,Burlington,WA,513,Columbia State Bank,20-May-11,22-Jan-13
172,SUPERIOR BANK,Birmingham,AL,17750,"Superior Bank, National Association",15-Apr-11,21-Mar-14
182,"SAN LUIS TRUST BANK, FSB",San Luis Obispo,CA,34783,First California Bank,18-Feb-11,12-Sep-16
189,SUNSHINE STATE COMMUNITY BANK,Port Orange,FL,35478,"Premier American Bank, N.A.",11-Feb-11,8-Aug-16
231,"SECURITY SAVINGS BANK, F.S.B.",Olathe,KS,30898,Simmons First National Bank,15-Oct-10,20-Aug-12
232,SHORELINE BANK,Shoreline,WA,35250,GBC International Bank,1-Oct-10,20-Aug-12
243,SONOMA VALLEY BANK,Sonoma,CA,27259,Westamerica Bank,20-Aug-10,12-Sep-12
247,SHOREBANK,Chicago,IL,15640,Urban Partnership Bank,20-Aug-10,16-May-13
259,SOUTHWESTUSA BANK,Las Vegas,NV,35434,Plaza Bank,23-Jul-10,22-Aug-12
264,STERLING BANK,Lantana,FL,32536,IBERIABANK,23-Jul-10,21-Mar-14
283,SUN WEST BANK,Las Vegas,NV,34785,City National Bank,28-May-10,14-Sep-12
290,SOUTHWEST COMMUNITY BANK,Springfield,MO,34255,Simmons First National Bank,14-May-10,4-Feb-16
292,SATILLA COMMUNITY BANK,Saint Marys,GA,35114,Ameris Bank,14-May-10,21-Mar-14
324,STATE BANK OF AURORA,Aurora,MN,8221,Northern State Bank,19-Mar-10,8-Aug-16
331,STATEWIDE BANK,Covington,LA,29561,Home Bank,12-Mar-10,23-Aug-12
338,SUN AMERICAN BANK,Boca Raton,FL,27126,First-Citizens Bank & Trust Company,5-Mar-10,21-Mar-14
358,ST. STEPHEN STATE BANK,St. Stephen,MN,17522,First State Bank of St. Joseph,15-Jan-10,8-Aug-16
368,SOLUTIONSBANK,Overland Park,KS,4731,Arvest Bank,11-Dec-09,19-Jul-16
392,SAN DIEGO NATIONAL BANK,San Diego,CA,23594,U.S. Bank N.A.,30-Oct-09,22-Aug-12
402,SAN JOAQUIN BANK,Bakersfield,CA,23266,Citizens Business Bank,16-Oct-09,22-Aug-12
403,SOUTHERN COLORADO NATIONAL BANK,Pueblo,CO,57263,Legacy Bank,2-Oct-09,12-Dec-16
437,SECURITY BANK OF JONES COUNTY,Gray,GA,8486,State Bank and Trust Company,24-Jul-09,20-Aug-12
438,SECURITY BANK OF HOUSTON COUNTY,Perry,GA,27048,State Bank and Trust Company,24-Jul-09,17-Oct-15
439,SECURITY BANK OF BIBB COUNTY,Macon,GA,27367,State Bank and Trust Company,24-Jul-09,20-Aug-12
440,SECURITY BANK OF NORTH METRO,Woodstock,GA,57105,State Bank and Trust Company,24-Jul-09,6-Jan-16
441,SECURITY BANK OF NORTH FULTON,Alpharetta,GA,57430,State Bank and Trust Company,24-Jul-09,20-Aug-12
442,SECURITY BANK OF GWINNETT COUNTY,Suwanee,GA,57346,State Bank and Trust Company,24-Jul-09,20-Aug-12
463,SOUTHERN COMMUNITY BANK,Fayetteville,GA,35251,United Community Bank,19-Jun-09,21-Sep-15
466,STRATEGIC CAPITAL BANK,Champaign,IL,35175,Midland States Bank,22-May-09,4-Sep-12
471,"SILVERTON BANK, NA",Atlanta,GA,26535,No Acquirer,1-May-09,17-Aug-12
485,SECURITY SAVINGS BANK,Henderson,NV,34820,Bank of Nevada,27-Feb-09,7-Sep-12
487,SILVER FALLS BANK,Silverton,OR,35399,Citizens Bank,20-Feb-09,17-Aug-12
491,SHERMAN COUNTY BANK,Loup City,NE,5431,Heritage Bank,13-Feb-09,17-Aug-12
496,SUBURBAN FSB,Crofton,MD,30763,Bank of Essex,30-Jan-09,4-Feb-16
501,SANDERSON STATE BANK,Sanderson,TX,11568,The Pecos County State Bank,12-Dec-08,25-Oct-13
507,SECURITY PACIFIC BANK,Los Angeles,CA,23595,Pacific Western Bank,7-Nov-08,28-Aug-12
515,SILVER STATE BANK,Henderson,NV,34194,Nevada State Bank,5-Sep-08,25-Oct-13
535,SOUTHERN PACIFIC BANK,Torrance,CA,27094,Beal Bank,7-Feb-03,20-Oct-08
546,"SUPERIOR BANK, FSB",Hinsdale,IL,32646,"Superior Federal, FSB",27-Jul-01,19-Aug-14

In [302]:
banks[(banks['CERT']>2000)].shape[0]

536

In [340]:
banks['Bank Name'] = banks['Bank Name'].str.strip(' ') 
banks[(banks['Bank Name'].str.count(' ')==1)]

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
3,PROFICIO BANK,Cottonwood Heights,UT,35495,Cache Valley Bank,3-Mar-17,18-May-17
6,ALLIED BANK,Mulberry,AR,91,Today's Bank,23-Sep-16,17-Nov-16
13,PREMIER BANK,Denver,CO,34112,"United Fidelity Bank, fsb",10-Jul-15,17-Aug-16
14,EDGEBROOK BANK,Chicago,IL,57772,Republic Bank of Chicago,8-May-15,12-Jul-16
15,DORAL BANK,San Juan,PR,32102,Banco Popular de Puerto Rico,27-Feb-15,13-May-15
22,NBRS FINANCIAL,Rising Sun,MD,4862,Howard Bank,17-Oct-14,26-Mar-15
26,VALLEY BANK,Fort Lauderdale,FL,21793,"Landmark Bank, National Association",20-Jun-14,29-Jun-15
27,VALLEY BANK,Moline,IL,10450,Great Southern Bank,20-Jun-14,26-Jun-15
30,AZTECAMERICA BANK,Berwyn,IL,57866,Republic Bank of Chicago,16-May-14,20-Oct-16
34,SYRINGA BANK,Boise,ID,34296,Sunwest Bank,31-Jan-14,12-Apr-16
49,SUNRISE BANK,Valdosta,GA,58185,Synovus Bank,10-May-13,26-Jun-14
52,PARKWAY BANK,Lenoir,NC,57158,"CertusBank, National Association",26-Apr-13,20-Oct-16
57,FRONTIER BANK,LaGrange,GA,16431,HeritageBank of the South,8-Mar-13,2-Mar-16
58,COVENANT BANK,Chicago,IL,22476,Liberty Bank and Trust Company,15-Feb-13,21-Sep-15
65,NOVA BANK,Berwyn,PA,27148,No Acquirer,26-Oct-12,24-Jan-13
66,EXCEL BANK,Sedalia,MO,19189,Simmons First National Bank,19-Oct-12,22-Oct-13
70,TRUMAN BANK,St. Louis,MO,27316,Simmons First National Bank,14-Sep-12,17-Dec-12
75,HEARTLAND BANK,Leawood,KS,1361,Metcalf Bank,20-Jul-12,30-Jul-13
84,WACCAMAW BANK,Whiteville,NC,34515,First Community Bank,8-Jun-12,21-Mar-14
96,FIDELITY BANK,Dearborn,MI,33883,The Huntington National Bank,30-Mar-12,4-Feb-14
97,PREMIER BANK,Wilmette,IL,35419,International Bank of Chicago,23-Mar-12,17-Oct-12
103,SCB BANK,Shelbyville,IN,29761,"First Merchants Bank, National Association",10-Feb-12,19-Feb-15
117,SUNFIRST BANK,Saint George,UT,57087,Cache Valley Bank,4-Nov-11,16-Nov-12
124,COUNTRY BANK,Aledo,IL,35395,Blackhawk Bank & Trust,14-Oct-11,13-Apr-17
129,THE RIVERBANK,Wyoming,MN,10216,Central Bank,7-Oct-11,7-Nov-12
134,CREEKSIDE BANK,Woodstock,GA,58226,Georgia Commerce Bank,2-Sep-11,21-Mar-14
144,"BANKMERIDIAN, N.A.",Columbia,SC,58222,SCBT National Association,29-Jul-11,21-Mar-14
149,SUMMIT BANK,Prescott,AZ,57442,The Foothills Bank,15-Jul-11,19-Aug-14
153,SIGNATURE BANK,Windsor,CO,57835,Points West Community Bank,8-Jul-11,26-Oct-12
161,SUMMIT BANK,Burlington,WA,513,Columbia State Bank,20-May-11,22-Jan-13
...,...,...,...,...,...,...,...
417,AFFINITY BANK,Ventura,CA,27197,Pacific Western Bank,28-Aug-09,21-Aug-12
418,MAINSTREET BANK,Forest Lake,MN,1909,Central Bank,28-Aug-09,21-Aug-12
419,BRADFORD BANK,Baltimore,MD,28312,Manufacturers and Traders Trust Company (M&T B...,28-Aug-09,15-Jan-13
420,GUARANTY BANK,Austin,TX,32618,BBVA Compass,21-Aug-09,21-Aug-12
421,CAPITALSOUTH BANK,Birmingham,AL,22130,IBERIABANK,21-Aug-09,15-Jan-13
427,COLONIAL BANK,Montgomery,AL,9609,"Branch Banking & Trust Company, (BB&T)",14-Aug-09,12-Jun-14
432,MUTUAL BANK,Harvey,IL,18659,United Central Bank,31-Jul-09,20-Aug-12
433,FIRST BANKAMERICANO,Elizabeth,NJ,34270,Crown Bank,31-Jul-09,20-Aug-12
435,INTEGRITY BANK,Jupiter,FL,57604,Stonegate Bank,31-Jul-09,20-Aug-12
445,VINEYARD BANK,Rancho Cucamonga,CA,23556,California Bank & Trust,17-Jul-09,20-Aug-12
449,FOUNDERS BANK,Worth,IL,18390,The PrivateBank and Trust Company,2-Jul-09,20-Aug-12
456,MIRAE BANK,Los Angeles,CA,57332,Wilshire State Bank,26-Jun-09,20-Aug-12
457,METROPACIFIC BANK,Irvine,CA,57893,Sunwest Bank,26-Jun-09,5-Feb-15
458,HORIZON BANK,Pine City,MN,9744,"Stearns Bank, N.A.",26-Jun-09,5-Feb-15
462,COOPERATIVE BANK,Wilmington,NC,27837,First Bank,19-Jun-09,17-Aug-12
467,"BANKUNITED, FSB",Coral Gables,FL,32247,BankUnited,21-May-09,17-Aug-12
468,WESTSOUND BANK,Bremerton,WA,34843,Kitsap Bank,8-May-09,4-Sep-12
481,"TEAMBANK, NA",Paola,KS,4754,Great Southern Bank,20-Mar-09,12-Sep-16
483,FIRSTCITY BANK,Stockbridge,GA,18243,No Acquirer,20-Mar-09,17-Aug-12
492,COUNTY BANK,Merced,CA,22574,Westamerica Bank,6-Feb-09,4-Sep-12
493,ALLIANCE BANK,Culver City,CA,23124,California Bank & Trust,6-Feb-09,16-Aug-12
496,SUBURBAN FSB,Crofton,MD,30763,Bank of Essex,30-Jan-09,4-Feb-16
506,COMMUNITY BANK,Loganville,GA,16490,Bank of Essex,21-Nov-08,4-Sep-12
509,FREEDOM BANK,Bradenton,FL,57930,Fifth Third Bank,31-Oct-08,16-Aug-12
511,MERIDIAN BANK,Eldred,IL,13789,National Bank,10-Oct-08,31-May-12
516,INTEGRITY BANK,Alpharetta,GA,35469,Regions Bank,29-Aug-08,16-Aug-12
521,INDYMAC BANK,Pasadena,CA,29730,"OneWest Bank, FSB",11-Jul-08,22-Apr-15
524,HUME BANK,Hume,MO,1971,Security Bank,7-Mar-08,28-Aug-12
530,RELIANCE BANK,White Plains,NY,26778,Union State Bank,19-Mar-04,9-Apr-08
542,"NEXTBANK, NA",Phoenix,AZ,22314,No Acquirer,7-Feb-02,5-Feb-15

In [355]:
banks['Closing Date'] = pd.to_datetime(banks['Closing Date'])
banks[(banks['Closing Date'].dt.year == 2008)]

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
501,SANDERSON STATE BANK,Sanderson,TX,11568,The Pecos County State Bank,2008-12-12,25-Oct-13
502,HAVEN TRUST BANK,Duluth,GA,35379,"Branch Banking & Trust Company, (BB&T)",2008-12-12,16-Aug-12
503,FIRST GEORGIA COMMUNITY BANK,Jackson,GA,34301,United Bank,2008-12-05,16-Aug-12
504,PFF BANK & TRUST,Pomona,CA,28344,"U.S. Bank, N.A.",2008-11-21,4-Jan-13
505,DOWNEY SAVINGS & LOAN,Newport Beach,CA,30968,"U.S. Bank, N.A.",2008-11-21,4-Jan-13
506,COMMUNITY BANK,Loganville,GA,16490,Bank of Essex,2008-11-21,4-Sep-12
507,SECURITY PACIFIC BANK,Los Angeles,CA,23595,Pacific Western Bank,2008-11-07,28-Aug-12
508,"FRANKLIN BANK, SSB",Houston,TX,26870,Prosperity Bank,2008-11-07,16-Aug-12
509,FREEDOM BANK,Bradenton,FL,57930,Fifth Third Bank,2008-10-31,16-Aug-12
510,ALPHA BANK & TRUST,Alpharetta,GA,58241,"Stearns Bank, N.A.",2008-10-24,16-Aug-12
511,MERIDIAN BANK,Eldred,IL,13789,National Bank,2008-10-10,31-May-12
512,MAIN STREET BANK,Northville,MI,57654,Monroe Bank & Trust,2008-10-10,1-Aug-13
513,WASHINGTON MUTUAL BANK (INCLUDING ITS SUBSIDIA...,Henderson,NV,32633,JP Morgan Chase Bank,2008-09-25,4-Aug-15
514,AMERIBANK,Northfork,WV,6782,"The Citizens Savings Bank, Pioneer Community B...",2008-09-19,21-Sep-15
515,SILVER STATE BANK,Henderson,NV,34194,Nevada State Bank,2008-09-05,25-Oct-13
516,INTEGRITY BANK,Alpharetta,GA,35469,Regions Bank,2008-08-29,16-Aug-12
517,COLUMBIAN BANK & TRUST,Topeka,KS,22728,Citizens Bank & Trust,2008-08-22,26-Mar-15
518,FIRST PRIORITY BANK,Bradenton,FL,57523,SunTrust Bank,2008-08-01,12-Dec-16
519,"FIRST HERITAGE BANK, NA",Newport Beach,CA,57961,Mutual of Omaha Bank,2008-07-25,12-Sep-16
520,FIRST NATIONAL BANK OF NEVADA,Reno,NV,27011,Mutual of Omaha Bank,2008-07-25,28-Aug-12
521,INDYMAC BANK,Pasadena,CA,29730,"OneWest Bank, FSB",2008-07-11,22-Apr-15
522,"FIRST INTEGRITY BANK, NA",Staples,MN,12736,First International Bank and Trust,2008-05-30,20-Oct-16
523,"ANB FINANCIAL, NA",Bentonville,AR,33901,Pulaski Bank and Trust Company,2008-05-09,28-Aug-12
524,HUME BANK,Hume,MO,1971,Security Bank,2008-03-07,28-Aug-12
525,DOUGLASS NATIONAL BANK,Kansas City,MO,24660,Liberty Bank and Trust Company,2008-01-25,26-Oct-12